
@{
    ViewBag.Title = "Index";
}
@section modals{
    <div class="modal fade" id="create" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Öğrenci Ekle</h4>
                </div>
                @Html.Partial("_Create", new SksCalisma.Areas.Admin.Models.OgrenciViewModel())
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade draggable-modal ui-draggable" id="editModal" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Düzenle</h4>
                </div>
                <div id="editdiv"></div>
                <div id="editloading" class="col-sm-offset-4">
                    <img src="~/Content/img/_LayoutAdmin/loading-spinner-blue.gif" /> Yükleniyor
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><div class="modal fade draggable-modal ui-draggable" id="detailsModal" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Detaylar</h4>
                </div>
                <div id="detailsdiv"></div>
                <div id="detailsloading" class="col-sm-offset-4">
                    <img src="~/Content/img/_LayoutAdmin/loading-spinner-blue.gif" /> Yükleniyor
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><div class="modal fade draggable-modal ui-draggable" id="deleteModal" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Sil</h4>
                </div>
                <div id="deletediv"></div>
                <div id="deleteloading" class="col-sm-offset-4">
                    <img src="~/Content/img/_LayoutAdmin/loading-spinner-blue.gif" /> Yükleniyor
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<div class="container">
    <div class="box">
        <a class="btn green btn-outline sbold" data-toggle="modal" href="#create"> Öğrenci Ekle </a>
    </div><br />
    <div id="listdiv">
        @Html.Partial("_List", (List<SksCalisma.Models.Ogrenci>)ViewBag.Ogrenciler)
    </div>
</div>
@section scripts{
    <script>
        function SelectChange1(t) {
            var okulTip = $('.' + t + 'okulTip');
            var okul = $('.' + t + 'okul');
            okul.empty();
            $('.' + t + 'okulBolum').empty();
            if (okulTip.val() != '') {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Ogrenci/okullar",
                    data: { 'okulTipID': okulTip.val() },
                    success: function (data) {
                        okul.empty();
                        for (var i = 0; i < data.bt.length; i++) {
                            okul.append($('<option value="' + data.bt[i].okulID + '"></option>').text(data.bt[i].okulAd))
                        }
                    },
                    error: function (error) {
                        alert('Hata');
                    }
                })
            }
        }
        function SelectChange2(t) {
            var okul= $('.' + t + 'okul');
            var okulBolum = $('.' + t + 'okulBolum');
            okulBolum.empty();
            if (okul.val() != '') {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Ogrenci/bolumler",
                    data: { 'okulID': okul.val() },
                    success: function (data) {
                        okulBolum.empty();
                        for (var i = 0; i < data.bt.length; i++) {
                            okulBolum.append($('<option value="' + data.bt[i].okulBolumID + '"></option>').text(data.bt[i].okulBolumAd))
                        }
                    },
                    error: function (error) {
                        alert('Hata');
                    }
                })
            }
        }
    </script>
}
