@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonel.cshtml";
}

<div class="container">
    <div class="row"><div class="col-md-12"><div class="page-title"><h3><strong>KONTENJAN İŞLEMLERİ</strong></h3></div></div></div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <a class="more" href="~/Personel/Personel/KontenjanBelirle">
                    <div class="visual">
                    </div>

                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            KONTENJAN BELİRLE
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <a class="more" href="~/Personel/Personel/KontenjanTakip">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            KONTENJAN TAKİP
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12"><div class="page-title"><h3><strong>PUANTAJ İŞLEMLERİ</strong></h3></div></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <a class="more" href="~/Personel/Personel/PuantajGir">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            PUANTAJ GİR
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <a class="more" href="~/Personel/Personel/PuantajGoruntule">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            PUANTAJ GÖRÜNTÜLE
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <a class="more" href="~/Personel/Personel/HazirlaOnayla">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px">
                            HAZ. ONAY. KAYDET
                        </div>

                    </div>

                </a>
            </div>
        </div>
   
    </div>
    <hr />
    <div class="row"><div class="col-md-12"><div class="page-title"><h3><strong>İLAN İŞLEMLERİ</strong></h3></div></div></div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <a class="more" href="~/Personel/Personel/İlanOlustur">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            İLAN OLUŞTUR
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <a class="more" href="~/Personel/Personel/İlanListele">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px">
                            İLAN LİSTELE
                        </div>

                    </div>

                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <a class="more" href="~/Personel/Personel/İlanDuzenle">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px">
                            İLAN DÜZENLE/SİL
                        </div>

                    </div>

                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <a class="more" href="~/Personel/Personel/İlanArsiv">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px">
                            İLAN ARŞİVİ
                        </div>

                    </div>

                </a>
            </div>
        </div>

    </div>
    <hr />
  
    <div class="row"><div class="col-md-12"><div class="page-title"><h3><strong>KOMİSYON</strong></h3></div></div></div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <a class="more" href="~/Personel/Personel/KomisyonSec">
                    <div class="visual">
                    </div>

                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            KOMİSYON SEÇ
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <a class="more" href="~/Personel/Personel/KomisyonCikar">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px;text-align:center">
                            KOMİSYON ÇIKAR
                        </div>
                        <div class="desc">

                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <a class="more" href="~/Personel/Personel/Calisanlar">
                    <div class="visual">
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:20px">
                            ÇALIŞAN LİSTELE
                        </div>

                    </div>

                </a>
            </div>
        </div>
    </div>
  


</div>
