@{
    ViewBag.Title = "Calisanlar";
    Layout = "~/Views/Shared/_LayoutPersonel.cshtml";
}


<div class="container">



    <div style="margin-left:-95px">
        <div>
            <table class="table table-hover" cellspacing="0" cellpadding="3" rules="all" id="ContentPlaceHolder1_GridView1" style="background-color:White;border-color:#CCCCCC;border-width:1px;border-style:None;border-collapse:collapse;">
                <tr style="color:White;background-color:#006699;font-weight:bold;">
                    <th scope="col">TC</th>
                    <th scope="col">OgrNO</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">İbanNo</th>
                    <th scope="col">GSS</th>
                    <th scope="col">SGKGiris</th>
                    <th scope="col">ÖgrenimTürü</th>
                    <th scope="col">CepTel</th>
                    <th scope="col">Mail</th>
                    <th scope="col">2.Mail</th>
                    <th scope="col">OkuduğuOkul</th>
                    <th scope="col">OkuduğuBölüm</th>
                </tr>
               
                 <tr style="color:#000066;">
                    <td>12947753604</td>
                    <td>B131210079</td>
                    <td>ABDULLAH                                          </td>
                    <td>&#214;ZT&#220;RK                        </td>
                    <td>TR220001001946671828695001</td>
                    <td>22</td>
                    <td>05.11.2015 00:00:00</td>
                    <td>Lisans              </td>
                    <td>5396176516</td>
                    <td>b131210079@ogr.sakarya.edu.tr                     </td>
                    <td>&nbsp;</td>
                    <td>BİLGİSAYAR VE BİLİŞİM BİLİMLERİ FAK&#220;LTESİ                                                           </td>
                    <td>BİLGİSAYAR M&#220;HENDİSLİĞİ                           </td>
                </tr>
            </table>
        </div>

    </div>


</div>
