@{
    ViewBag.Title = "İlanListele";
    Layout = "~/Views/Shared/_LayoutPersonel.cshtml";
}

<div class="pull-left">
    <div class="col-md-12">


        <table id="ContentPlaceHolder1_DlListe" class="table" cellspacing="0" cellpadding="4" style="color:#333333;border-collapse:collapse;">
            <tr>
                <td style="color:White;background-color:#507CD1;font-weight:bold;">
                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-3 ">BİRİM</td>
                            <td class="col-md-2 ">BÖLÜM</td>
                            <td class="col-md-2 ">ÇALIŞMA ŞEKLİ</td>
                            <td class="col-md-3 ">İŞİN ÖZEL NİTELİĞİ</td>
                            <td class="col-md-1 ">KONTENJAN</td>
                            <td class="col-md-1 ">A4 ÇIKTI</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

