
@{
    ViewBag.Title = "İlanArsiv";
    Layout = "~/Views/Shared/_LayoutPersonel.cshtml";
}

<div class="pull-left">

    <div id="ContentPlaceHolder1_ustConte" class="col-md-12">

        <table id="ContentPlaceHolder1_dlGecmisListe" class="table" cellspacing="0" cellpadding="4" style="color:#333333;border-collapse:collapse;">
            <tr>
                <td style="color:White;background-color:#507CD1;font-weight:bold;">

                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-2">İlanNo</td>
                            <td class="col-md-2">İş Başlığı</td>
                            <td class="col-md-2">İş Tanımı</td>
                            <td class="col-md-2">Bitiş Tarihi</td>
                            <td class="col-md-2">Aktifleştir</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EFF3FB;">
                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-2">25</td>
                            <td class="col-md-2">İdari İşlerde Yardımcı Olmak                      </td>
                            <td class="col-md-2">1</td>
                            <td class="col-md-2">26.06.2015 00:00:00</td>
                            <td class="col-md-2">
                                <a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$dlGecmisListe$ctl01$ctl00&#39;,&#39;&#39;)">
                                    <img src="../img/aktif.png" style="height:20px;width:20px" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:White;">
                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-2">87</td>
                            <td class="col-md-2">null                                              </td>
                            <td class="col-md-2">1</td>
                            <td class="col-md-2">08.07.2015 00:00:00</td>
                            <td class="col-md-2">
                                <a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$dlGecmisListe$ctl02$ctl00&#39;,&#39;&#39;)">
                                    <img src="../img/aktif.png" style="height:20px;width:20px" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EFF3FB;">
                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-2">92</td>
                            <td class="col-md-2">null                                              </td>
                            <td class="col-md-2">1</td>
                            <td class="col-md-2">30.08.2015 00:00:00</td>
                            <td class="col-md-2">
                                <a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$dlGecmisListe$ctl03$ctl00&#39;,&#39;&#39;)">
                                    <img src="../img/aktif.png" style="height:20px;width:20px" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:White;">
                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-2">104</td>
                            <td class="col-md-2">null                                              </td>
                            <td class="col-md-2">1</td>
                            <td class="col-md-2">09.10.2015 00:00:00</td>
                            <td class="col-md-2">
                                <a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$dlGecmisListe$ctl04$ctl00&#39;,&#39;&#39;)">
                                    <img src="../img/aktif.png" style="height:20px;width:20px" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:#EFF3FB;">
                    <table class="col-md-12">
                        <tr>
                            <td class="col-md-2">111</td>
                            <td class="col-md-2">null                                              </td>
                            <td class="col-md-2">1</td>
                            <td class="col-md-2">09.10.2015 00:00:00</td>
                            <td class="col-md-2">
                                <a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$dlGecmisListe$ctl05$ctl00&#39;,&#39;&#39;)">
                                    <img src="../img/aktif.png" style="height:20px;width:20px" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</div>
