@using SksCalisma.Models;

@{
    ViewBag.Title = "KontenjanTakip";
    Layout = "~/Views/Shared/_LayoutPersonel.cshtml";
    kismizamanli2014Entities1 db = new kismizamanli2014Entities1();

}

<h2>KontenjanTakip</h2>

<div class="radio-list">
    <label>
        <input class="form-control" id="" type="radio" name="" /><label for="">Pazartesi</label>
    </label>
</div>