@model SksCalisma.Models.AnketSecenek
@using (Html.BeginForm("Delete", "AnketSecenek", FormMethod.Post, htmlAttributes: new { Area = "Admin" }))
{
    <div class="modal-body">
        @Model.anketSecenekIcerik <br /> Bu anket seçeneğini silmek istediğinize emin misiniz?
    </div>
    <div class="modal-footer">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.anketSecenekID" name="id" />
        <input type="submit" value="Onayla" class="btn green" />
    </div>
}