@model SksCalisma.Models.AnketSoru
@using (Html.BeginForm("Delete", "AnketSoru", FormMethod.Post, htmlAttributes: new { Area = "Admin" }))
{
    <div class="modal-body">
        @Model.anketSoruIcerik <br /> Bu anket sorusunu silmek istediğinize emin misiniz?
    </div>
    <div class="modal-footer">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.anketSoruID" name="id" />
        <input type="submit" value="Onayla" class="btn green" />
    </div>
}