<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="SKS Sakarya üniversitesi Kismi zamanlı calisan sistemi " name="description">
    <meta content="kayit sks sakarya üniversitesi kısmi zamanlı çalışan " name="keywords">
    <title>Sakarya Üniversitesi Kısmi Zamanlı Calışan Sistemi | SKS</title>
    <link href="~/Content/css/_LayoutGirisEkrani/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/css/_LayoutGirisEkrani/coming-soon.css" rel="stylesheet" type="text/css" />
    <!-- END PAG LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/css/_LayoutGirisEkrani/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/css/_LayoutGirisEkrani/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/_LayoutGirisEkrani/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- site kullanım klavuzu gelecek -->
</head>
<body style="background-color:#333"><!-- Arkaplan rengini css ten çekemediğim için yaptım başka yerde kullanılmıyor-->
    <div>
        @RenderBody()
    </div>
</body>

</html>
