
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGirisEkrani.cshtml";
}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <div class="logo">
                    <a href="~/Home/Index">
                        <img src="~/Content/img/_LayoutPersonel/logo2.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <!--/end row-->

    </div>
    <!-- END PRE-FOOTER -->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 coming-soon-content">
            <h1><font face="Ariosto">SAKARYA ÜNİVERSİTESİ</font></h1>
            <p style="font-size:25px;color:#ABC2C1">
                <font face="Benthham"> Sağlık Kültür ve Spor Dairesi Başkanlığı </font>
            </p>
            <br />
        </div>

        <div class="col-md-6">
            <div class="top-news">
                <a href="~/Home/OgrenciKayit" class="btn blue">
                    <span>
                        Öğrenci Kayıt
                    </span>
                    <em>Öğrenci Kayıt Sayfası</em>
                    <em>
                        <i class="fa fa-tags"></i>
                        Kayıt Bilgileri
                    </em>
                    <i class="fa fa-mortar-board top-news-icon"></i>
                </a>

                <a href="~/Home/Login" class="btn green">
                    <span>
                        SKS Giriş
                    </span>
                    <em>SKS Giriş Ekranı</em>
                    <em>
                        <i class="fa fa-tags"></i>
                        Sks Memur Girişi
                        <i class="fa fa-tags"></i>
                        Sks Öğrenci Girişi
                    </em>
                    <i class="fa fa-book top-news-icon"></i>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="container col-md-offset-1">
    <div class="pre-footer col-md-10 col-sm-10 " style="position:absolute;bottom:0px">
        <div class="row">
            <div class="col-md-12 coming-soon-footer">
                2016 &copy; <a href="developerSystem/devPageLogin.aspx">DEVELOPED</a> by
                <a href="https://www.facebook.com/quantum.mak">Mehmet Akar</a>  and
                <a href="https://www.facebook.com/cylnozyy">Ahmet Ozan Ceylan</a> and
                <a href="https://www.facebook.com/metehan.kutlu5"> Metehan Kutlu </a> and
                <a href="https://www.facebook.com/farukturr"> Faruk Tur </a>
            </div>
        </div>
    </div>
</div>

